@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}
canvas{
  color: background-color;
  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: background-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.Entry input{
  background-color:white;
  color:black;
  border-color:transparent;
  text-align: center;
  box-sizing:border-box;
  position: relative;
  font-size: medium;
}

.Entry input:focus{
  outline:none;
  border:none;
}

.Entry input:focus::placeholder{
  color:transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Shake {
  0% {
    transform: translate(-50%) rotate(0deg);
  }

  20% {
    transform: translate(-50%) rotate(5deg);
  }

  40% {
    transform: translate(-50%) rotate(-5deg);
  }


  60% {
    transform:translate(-50%) rotate(5deg);
  }


  
  80% {
    transform: translate(-50%) rotate(-5deg);
  }


  100% {
    transform: translate(-50%) rotate(0deg);
  }
}

.Entry{
  position:absolute;
  height:45px;
  width:300px;
  bottom:50px;
  left:50%;
  transform:translateX(-50%);
  background-color: white; 
  padding:5px 15px;
  color: black;
  border-color: transparent;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.intro{
  animation: fadeIn 1s ease-in-out;
}


.intro2{
  animation: fadeIn 1s ease-in-out;
}


.show{
  animation: fadeIn 0.55s ease-out;
}

.shake {
  animation: Shake 0.25s ease-in-out;
}
.Hint{
  position:absolute;
  height:10px;
  width:3000px;
  bottom:25px;
  left:50%;
  transform:translateX(-50%) ;
  color:white;
  display: flex;
  justify-content: center; 
  align-items: center;
}  

.Logo{
  position:absolute;
  scale:75%;
  top:20px;
  left:85px;
  transform:translate(-50%);
}

#submit {
  position:absolute;      
  top: 50%;
  left: 90%;   
  background-color: transparent;
  outline-color: transparent;       
  border: transparent;             
  transform: translate(-50%, -50%); 
  width: 20px;             
  height: 20px;    
  align-items: center;      
}
#submit:hover{
  cursor: pointer;
}
#submit img{
  width: 300%;
  height: 100%;
  transition: transform 0.05s ease-in-out;
  object-fit: contain;
}
#submit img:hover{
  transform: scale(1.1);
  width: 300%;
  height: 100%;
  object-fit: contain;
}
.typewriter {
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-45%);
  display: flex;
  font-size: 2rem; 
  position: absolute; 
}

.startButton{
  position:absolute;
  height:50px;
  width:320px;
  bottom:50px;
  left:50%;
  transform:translateX(-50%);
  background-color: white; 
  padding:5px 15px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
  border-color: transparent;
  box-sizing: border-box;
  display: flex;
  transition: transform, background-color 0.1s ease-in-out;
  justify-content: center; 
  align-items: center;
  z-index: 10;
}
.startButton:hover{
  transform: translateX(-50%) scale(1.03);
  background-color: #121212;
  color: white;
}

.Popup {
  position:absolute;
  height:10px;
  width:3000px;
  bottom:110px;
  left:50%;
  transform:translateX(-50%);
  display: flex;
  justify-content: center; 
  align-items: center;
}